{% extends 'doctors/includes/doctor-sidebar.html' %}
    {% load static %}
{% block main %}
 {% block overlay %}
  {% endblock overlay %}
  <div class="container-xxl py-1 mt-4 w-100">
    <div class="container">
    <div class="row">
    <div class="col-sm-80">
    <div class="card card- table">
    <div class="card-body">
         {% include 'clinic/includes/messages.html' %}
                     <p style="text-align: left;">Doctor Appointment System</p>
                  </div>
                  <div class="login-right">
                     <div class="login-right-wrap">
        
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% if messages %}
                            {% for message in messages %}
                             {% if message.tags == 'error' %}
                           <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          {{message}}
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                             </button>
                              </div>
                           {% endif %}
                            {% endfor %}
                           {% endif %}
                               {% if messages %}
                            {% for message in messages %}
                             {% if message.tags == 'success' %}
                           <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          {{message}}
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                             </button>
                              </div>
                           {% endif %}
                            {% endfor %}
                           {% endif %}
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Profile Pic</label>
                                <input id="profile_photo" type="file" class="form-control" name="profile_photo" required="true">
                               </div>
                           <div class="form-group">
                            <label>First Name</label>
                            <input id="first_name" type="text" class="form-control" placeholder="First Name" name="first_name" required="true">
                           </div>
                           <div class="form-group">
                            <label>Last Name</label>
                            <input id="last_name" type="text" class="form-control" placeholder="First Name" name="last_name" required="true">
                           </div>
                           <div class="form-group">
                            <label>Email</label>
                            <input id="email" type="email" class="form-control" placeholder="Email" name="email" required="true">
                           </div>
                           <div class="form-group">
                            <label>Userame</label>
                            <input id="username" type="text" class="form-control" placeholder="Enter Username" name="username" required="true">
                           </div>
                           <div class="form-group">
                            <label>Mobile Number</label>
                            <input id="mobno" type="text" class="form-control" placeholder="Mobile" name="mobno" maxlength="10" pattern="[0-9]+" required="true">
                           </div>
                           <div class="form-group">
                            <label>Specialization</label>
                            <select type="text" name="specialization_id" id="specialization_id" value="" class="form-control" required="true">
                                <option value="">Choose Specialization</option>
                                {% for i in specialization %}
           
                                      <option value="{{i.id}}">{{i.sname}}</option>{% endfor %}
    
                                </select>
                           </div>
                          
                           <div class="form-group">
                            <label>Password</label>
                            <input id="password" type="password" class="form-control" placeholder="Password" name="password" required="true">
                           </div>
                           <div class="form-group">
                              <button class="btn btn-primary btn-block" type="submit">Register</button>
                           </div>
                        </form>
                      
                        <div class="text-center dont-have"> <a href="{% url 'login' %}">Do you have an account ?</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
    </div></div>
{% endblock %}
