   <!-- Customized Bootstrap Stylesheet -->
<!--    <link href="{% static 'appointment/css/bootstrap.min.css'%}" rel="stylesheet">-->

    <link href="{% static 'appointment/css/style.css'%}" rel="stylesheet">
    <script src="{% static 'appointment/js/wow.min.js'%}"></script>
    <script src="{% static 'appointment/js/easing.min.js'%}"></script>
    <script src="{% static 'appointment/js/waypoints.min.js'%}"></script>
    <script src="{% static 'appointment/js/counterup.min.js'%}"></script>
    <script src="{% static 'appointment/js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'appointment/js/moment.min.js'%}"></script>
    <script src="{% static 'appointment/js/moment-timezone.min.js'%}"></script>
    <script src="{% static 'appointment/js/tempusdominus-bootstrap-4.min.js'%}"></script>
   <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="{% static 'assets/user_profile/js/script.js' %}" defer></script>
      <script src="{% static 'appointment/js/main.js'%}"></script>


   <!-- Template Javascript -->
