{% extends 'doctors/includes/doctor-sidebar.html' %}
{% load static %}
{% load account %}
 
{% block main %}
<body>
    
<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
  <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <div class="col-md-12 col-lg-12 col-xl-9">
        <div class="container-fluid py-4">
            <div class="row"> 
              <div class="col-md-8">
                <div class="card">
                  <div class="card-header pb-0">
                    <div class="d-flex align-items-center">
                      <button class="btn btn-primary bg-gradient-primary btn-sm ms-auto"><a href="{% url 'index'   %}">Download</a></button>
                    </div>
                    <h4 class="card-title">New Booking</h4>
                  </div>
        <form method="post" enctype="multipart/form-data" novalidate class="profile-update-form pb-4" id="profileUpdateForm">
            {% csrf_token %}
            <!-- Profile Photo Section -->
            <div class="row ">
             
   <!-- Basic Information -->
   <div class="col-12">
    <div class="card custom-form-card" id="basicInfoSection">
     
         <div class="card-header">
             <h4 class="card-title">JCD- {{booking}}</h4>
         </div>

         <div class="card-body">
             <div class="row ">
                
                 <!-- ...existing Booked by user Appointments fields... -->
                 {% for field in form_class %}
                     {% if field.name in 'status,booking,doctor,patient,'|stringformat:'s'|slice:',' %}
                         <div class="col-md-6">
                             <div class="form-group custom-input-group">
                                 <label class="form-label">{{ field.label }} {% if field.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                                 <!--
                                 This template section applies the 'addClass' custom filter to a form field, adding the CSS class 'form-input'.
                                 The addClass filter modifies the HTML input element by appending the specified class name to enhance styling.
                                 -->
                                 {{ field }}
                                 {{ field.media }}
                                 {% if field.errors %}
                                     <div class="error-feedback">
                                         {% for error in field.errors %}
                                             {{ error }}
                                         {% endfor %}
                                     </div>
                                 {% endif %}
                             </div>
                         </div>
                     {% endif %}
                 {% endfor %}
             </div>
         </div>
     </div>
 </div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>

</body>
{% endblock %}
