{% extends 'user_profile/base.html' %}
{% block content %}
{% load static %}
     <div style="margin-top:2vh;" class="  form-container hero-form-wrapper">
        <h1>So excited to re-kindle  that smile? <br>Kindly tell us about you.</h1>
      <form  action="{% url 'appointment' %}" class="hero-form" method="POST">
          {% csrf_token %}
        <div class="form-group">

           <div class="row g-5 ">
            <div class="input-wrapper">
                            <div class="col-12 col-sm-6">
                                <label style="color:#004C5C;" for="full_name">Full Name:</label>
                                <input type="text" class="form-control border-0" placeholder="Your Name" style="height: 55px;" name="full_name" required="true">
                            </div>
                            </div>

                            <div class="input-wrapper">
                                <div class="col-12 col-sm-6">
                                <label style="color:#004C5C; "for="email">Email:</label>
                           
                                <input type="email" class="form-control border-0"pattern="[^ @]*@[^ @]*" placeholder="Your Email" style="height: 55px;" name="email" pattern="[^ @]*@[^ @]*" required="true">
                            </div>
                            </div>
                            <div class="input-wrapper">

                            <div class="col-12 col-sm-6">
                                <label style="color:#004C5C; "for="mobile">Phone  Number:</label>
                                <input type="text" class="form-select border-0" placeholder="+254708534184" style="height: 55px;" name="mobile_number" maxlength="15" required="true">
                            </div>
                            </div>

                            <div class="input-wrapper">
                                <div class="col-12 col-sm-6">
                                <label style="color:#004C5C;"for="date">Choose Date:</label>
                            
                                <div style="color:#001100;" class="date" id="date" data-target-input="nearest">
                                    <input type="date"
                                        class=" border-0 datetimepicker-input"
                                        placeholder="Choose Date" data-target="#date" data-toggle="datetimepicker" style="height: 55px;" name="date_of_appointment" required="true">
                                </div>
                            </div>
                      </div>     
                            <div class="input-wrapper">
                                <div class="col-12 col-sm-6">
                                <label  style="color:#004C5C;" for="time">Choose Time:</label>
                           
                                <div class="time" id="time" data-target-input="nearest"></div>
                              <input type="time" class="form-control border-0" placeholder="Choose Time" data-target="#time" data-toggle="datetimepicker" style="height: 55px;" name="time_of_appointment" step="60" required="true">
                                 </div>
                                      </div>
                           <div class="input-wrapper">
                           <div class="col-12 col-sm-6">
                            <label  style="color:#004C5C; " for="worry">Select Service:</label>
                                <select class="form-select border-0" style="height: 55px;" name="worry_need" required="false">
                                    <option selected disabled>Select Service</option>
                                    {% for worry in worry %}
                                 <option value="{{ worry.id }}">{{worry }}</option>
                                 {% endfor %}

                                </select>
                            </div>
                        </div>
                    <div class="input-wrapper">
                        <div class="col-12 col-sm-6">
                   <select class="form-select border-2" style="height: 55px;" name="clinic_id" required="true" >
                    <option selected  disabled value="">SmileSlot Clinics</option>
                                      {% for clinic in clinic %}
                 <option value="{{ clinic.slug }}">{{ clinic.clinic_name }}-{{clinic.mobile_number}} </option>
              {% endfor %}
                     </select>                              </div></div>
                        </div>
                           <div class="input-wrapper" style="padding-top: 20px;">
                                <div class="col-12 col-sm-6">
                                <label style="color:#004C5C; " for="message">How Can We Help You ?</label>
                                <textarea class="form-control border-0" rows="10" placeholder="How Can We Help You?" name="additional_msg"></textarea>
                            </div>
                            </div>
                            <div class="col-12" style="padding-top: 20px;">
                                <button class="btn btn-primary w-100 py-3" type="submit">Book Appointment</button>
                            </div>
            </div>  </div></form>
    </div>

{% endblock %}
