<!--- Created by Mitchell Boland from spangle web design spangle.com.au -->
<!--- Send me a message there if you require a website, or would like some css help -->

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>Spangle Web Design</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
  </head>
  <body>
    <div class="termsAndConditions fadeIn">
      <h1 class="termsAndConditionsHeading">Terms Of Service</h1>
      <h4 class="spangleWelcome">Welcome to Spangle</h4>
      <p class="termsParagraphIntro">Add some terms here, for example "
        These Terms govern your use of Spangle and the Spangle applications, 
        products and services that we offer (the Spangle Product or Products), 
        except where we expressly state that separate Terms (and not these) apply." <br><br>
        Would appreciate you visiting spangle.com.au to click around and help my SEO :)
      </p>    
      <div class="serviceLeadingSection">
        <h4><span class="sn blue">1.</span><span class="st blue">Our services</span></h4>
        <p class="spl">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
          Explicabo expedita minima architecto adipisci atque neque libero 
          facilis officia blanditiis provident 
          repudiandae numquam earum dolorem hic quis ipsa, a quisquam placeat:</p>
        <div class="serviceInfoContainer">
          <h6 class="serviceLead">Some service info</h6>
          <p class="serviceDetails">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Dolores reiciendis eaque itaque facere quidem tenetur impedit nobis eum. Consequatur dignissimos aliquam 
            accusamus magnam aliquid laboriosam, neque incidunt quia voluptatem ducimus?</p>
          <div class="secionLine lineColorBlue"></div>
        </div>
        <div class="serviceInfoContainer">
          <h6 class="serviceLead">Some service info</h6>
          <p class="serviceDetails">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Suscipit ducimus praesentium deserunt vitae molestiae, id illum! Atque nostrum omnis, 
            debitis eius numquam quam expedita reprehenderit delectus illo blanditiis maxime quaerat.</p>
          <div class="secionLine lineColorBlue"></div>
        </div>
        <div class="serviceInfoContainer">
          <h6 class="serviceLead">Some service info</h6>
          <p class="serviceDetails">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Voluptate non est delectus ex ea in voluptatum officiis? 
            Consequatur similique praesentium veniam voluptates sit sed qui id, porro facere numquam sequi?</p>
          <div class="secionLine lineColorBlue"></div>
        </div>
        <div class="serviceInfoContainer">
          <h6 class="serviceLead">Some service info</h6>
          <p class="serviceDetails">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Voluptate non est delectus ex ea in voluptatum officiis? 
            Consequatur similique praesentium veniam voluptates sit sed qui id, porro facere numquam sequi?</p>
          <div class="secionLine lineColorBlue"></div>
        </div>
        <div class="serviceInfoContainer">
          <h6 class="serviceLead">Some service info</h6>
          <p class="serviceDetails">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Voluptate non est delectus ex ea in voluptatum officiis? 
            Consequatur similique praesentium veniam voluptates sit sed qui id, porro facere numquam sequi?</p>
          <div class="secionLine lineColorBlue"></div>
        </div>
        <div class="serviceInfoContainer">
          <h6 class="serviceLead">Some service info</h6>
          <p class="serviceDetails">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Voluptate non est delectus ex ea in voluptatum officiis? 
            Consequatur similique praesentium veniam voluptates sit sed qui id, porro facere numquam sequi?</p>
          <div class="secionLine lineColorBlue"></div>
        </div>                                 
      </div>

      <div class="serviceLeadingSection">
        <h4><span class="sn orange">2.</span><span class="st orange">Lorem ipsum</span></h4>
        <p class="spl">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
          Explicabo expedita minima architecto adipisci atque neque libero 
          facilis officia blanditiis provident 
          repudiandae numquam earum dolorem hic quis ipsa, a quisquam placeat:</p>
        <div class="serviceInfoContainer">
          <h6 class="serviceLead">Some service info</h6>
          <p class="serviceDetails">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Perferendis repellendus rem quas eius, deleniti quos pariatur earum nihil voluptate inventore 
            vel atque possimus labore laborum, reprehenderit maxime, placeat quo corrupti.</p>
          <div class="secionLine lineColorOrange"></div>
        </div>
        <div class="serviceInfoContainer">
          <h6 class="serviceLead">Some service info</h6>
          <p class="serviceDetails">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Perferendis repellendus rem quas eius, deleniti quos pariatur earum nihil voluptate inventore 
            vel atque possimus labore laborum, reprehenderit maxime, placeat quo corrupti.</p>
          <div class="secionLine lineColorOrange"></div>
        </div>
        <div class="serviceInfoContainer">
          <h6 class="serviceLead">Some service info</h6>
          <p class="serviceDetails">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Perferendis repellendus rem quas eius, deleniti quos pariatur earum nihil voluptate inventore 
            vel atque possimus labore laborum, reprehenderit maxime, placeat quo corrupti.</p>
          <div class="secionLine lineColorOrange"></div>
        </div>                   
      </div>
      <div class="serviceLeadingSection">
        <h4><span class="sn lightGreen">3.</span><span class="st lightGreen">Lorem ipsum</span></h4>
        <p class="spl">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
          Explicabo expedita minima architecto adipisci atque neque libero 
          facilis officia blanditiis provident 
          repudiandae numquam earum dolorem hic quis ipsa, a quisquam placeat:</p>
        <div class="serviceInfoContainer">
          <h6 class="serviceLead">Some service info</h6>
          <p class="serviceDetails">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Perferendis repellendus rem quas eius, deleniti quos pariatur earum nihil voluptate inventore 
            vel atque possimus labore laborum, reprehenderit maxime, placeat quo corrupti.</p>
          <div class="secionLine lineColorGreen"></div>
        </div>
        <div class="serviceInfoContainer">
          <h6 class="serviceLead">Some service info</h6>
          <p class="serviceDetails">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Perferendis repellendus rem quas eius, deleniti quos pariatur earum nihil voluptate inventore 
            vel atque possimus labore laborum, reprehenderit maxime, placeat quo corrupti.</p>
          <div class="secionLine lineColorGreen"></div>
        </div>
        <div class="serviceInfoContainer">
          <h6 class="serviceLead">Some service info</h6>
          <p class="serviceDetails">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Perferendis repellendus rem quas eius, deleniti quos pariatur earum nihil voluptate inventore 
            vel atque possimus labore laborum, reprehenderit maxime, placeat quo corrupti.</p>
          <div class="secionLine lineColorGreen"></div>
        </div>        
      </div> 
      <div class="serviceLeadingSection">
        <h4><span class="sn purple">4.</span><span class="st purple">Lorem ipsum</span></h4>
        <p class="spl">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
          Explicabo expedita minima architecto adipisci atque neque libero 
          facilis officia blanditiis provident 
          repudiandae numquam earum dolorem hic quis ipsa, a quisquam placeat:</p>
        <div class="serviceInfoContainer">
          <h6 class="serviceLead">Some service info</h6>
          <p class="serviceDetails">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Perferendis repellendus rem quas eius, deleniti quos pariatur earum nihil voluptate inventore 
            vel atque possimus labore laborum, reprehenderit maxime, placeat quo corrupti.</p>
          <div class="secionLine lineColorPurple"></div>
        </div>
        <div class="serviceInfoContainer">
          <h6 class="serviceLead">Some service info</h6>
          <p class="serviceDetails">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Perferendis repellendus rem quas eius, deleniti quos pariatur earum nihil voluptate inventore 
            vel atque possimus labore laborum, reprehenderit maxime, placeat quo corrupti.</p>
          <div class="secionLine lineColorPurple"></div>
        </div>
        <div class="serviceInfoContainer">
          <h6 class="serviceLead">Some service info</h6>
          <p class="serviceDetails">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Perferendis repellendus rem quas eius, deleniti quos pariatur earum nihil voluptate inventore 
            vel atque possimus labore laborum, reprehenderit maxime, placeat quo corrupti.</p>
          <div class="secionLine lineColorPurple"></div>
        </div>        
      </div>    
      <h4 class="closeTerms">CLOSE TERMS AND CONDITIONS</h4>
    </div>
  </body>
</html>