{% extends 'core/base.html' %}

{% block head_title %}{{ title }}{% endblock %}

{% block content %}
{%load static%}

<link rel="stylesheet" href="{% static 'blog/assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'blog/assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'blog/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/assets/css/tailwind.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<section  style="margin-left:10%;background-color:rgba(0,0,0,0.2);
        opacity:90%; border-radius:40px;backdrop-filter:blur(10px);border:2px solid rgba(255,255,255,0.2);z-index:10;display:flex;box-shadow:40px 40px 40px 80px rgba(0,0,0,0.3);" class="home-section align-items-center" id="home">
            <div class="container">
               <div class="row align-items-center">
                  <div class="home-text">

                      {% include 'mpesa/LipaNaMpesa.html'%}

                                        </div>
               </div>
            </div>
    </section>
<script src="{% static 'blog/assets/js/tippy.all.min.js' %}"></script>
    <script src="{% static 'blog/assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'blog/assets/js/uikit.js' %}"></script>
    <script src="{% static 'blog/assets/js/simplebar.js' %}"></script>
    <script src="{% static 'blog/assets/js/custom.js' %}"></script>


     {% endblock %}
