{% load i18n static %}

<section class="section hero" id="home" style="background-image: url('{% static 'clinic/images/hero-bg.png' %}');width:100%;display: block;box-decoration-break: clone;mask-image: linear-gradient(to bottom, black 80%, transparent 100%);-webkit-mask-image: linear-gradient(to bottom,black 80%, transparent 100%)" aria-label="hero">
    <div class="container">

    <div class="hero-content">
            <p class="section-subtitle">Welcome;</p>
            <h1 class="h1 hero-title">Tumebeba System,wewe Focus na Smiles</h1>
            <div style="display:flex;flex-direction:row; margin-left:5px;margin-top:20px;">
            <button type="submit" class="btn"><a href="{% url 'appointment' %}">Book Now</a></button>
            <button type="submit" style="margin-left:5px;" class="btn btn-outline-light"><a href="{% url 'login' %}">Join</a></button>
        </div>
        </div>
    
        <figure class="hero-banner">
            <img src="{% static 'clinic/images/hero-banner.png' %}" alt="hero banner"  style="width:100%;display: block;mask-image: linear-gradient(to bottom,black 80%, transparent 100%);-webkit-mask-image: linear-gradient(to bottom,black 80%, transparent 100%);box-decoration-break: clone;"class="w-100">
        </figure>

    </div>
    </div>
</section>




