{% load static%}

 <section class="section service" id="service" aria-label="service">
        <div class="container">

          <p class="section-subtitle text-center">Amazing features</p>

          <h2 class="h2 section-title text-center">Smart System, Smooth Days So Smile</h2>

          <ul class="service-list">

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="{% static 'icon/service-icon-1.png'%}" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">  Easy Appointment Scheduling</h3>

                  <p class="card-text">
   Simplify patient appointments with an intuitive, user-friendly interface that allows patients to book, reschedule, and cancel appointments effortlessly. Clinics can sync appointments in real-time, reducing the risk of overbooking and improving clinic workflow.
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">

                  <img src="{% static 'icon/service-icon-2.png'%}" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Real-Time Patient Management</h3>

                  <p class="card-text">
   With Smileslot, managing your patient records is a breeze. Easily track patient history, treatment plans, and upcoming visits with our secure, cloud-based system. Accessible anywhere, anytime, Smileslot ensures you always have the right information at your fingertips.
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">

                  <img src="{% static 'icon/service-icon-3.png'%}" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Seamless Integration with Payment Systems</h3>

                  <p class="card-text">
   Streamline your payment process with integrated payment options such as M-Pesa, credit cards, and PayPal. Patients can pay before, during, or after appointments, all while keeping their billing details 
                  </p>
                </div>

              </div>
            </li>

            <li class="service-banner">
              <figure>

                <img src="{% static 'clinic/images/service-banner.png'%}" width="409" height="467" loading="lazy"
                  alt="service banner" class="w-100">
              </figure>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">

                  <img src="{% static 'icon/service-icon-4.png'%}" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Customizable Doctor Profiles</h3>

                  <p class="card-text">
                    Showcase your clinic’s dental professionals with personalized doctor profiles, including their specialties, qualifications, and availability. Patients can book appointments based on the doctor’s expertise, creating a more tailored and trusted experience.


                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">

                  <img src="{% static 'icon/service-icon-5.png'%}" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Automated Reminders and Notifications</h3>

                  <p class="card-text">
                    No more missed appointments! Smileslot sends automatic reminders to both patients and staff, ensuring that everyone is on the same page. Notifications for upcoming appointments, confirmations, and cancellations are just a click away.
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">

                  <img src="{% static 'icon/service-icon-6.png'%}" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Reports & Analytics</h3>

                  <p class="card-text">
                 
Dive into detailed reports and analytics to gain insights into your clinic’s performance. Whether it’s tracking revenue, patient retention, or appointment trends, Smileslot empowers you to make data-driven decisions for better business managements
                  </p>
                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>
