  {% load static %}

  <!--   Core JS Files   -->
  <script src="{% static 'accounts/js/core/popper.min.js' %}"></script>
  <script src="{% static 'accounts/js/core/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'accounts/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'accounts/js/plugins/perfect-scrollbar.min.js' %}"></script>
  <script src="{% static 'accounts/js/plugins/smooth-scrollbar.min.js' %}"></script>
  <script src="{% static 'accounts/js/plugins/chartjs.min.js' %}"></script>
  <script src="{% static 'accounts/js/plugins/bootstrap-notify.js' %}"></script>
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
 <script src="{% static 'accounts/js/argon-dashboard.min.js' %}"></script>
     <script src="{% static 'dashboard/js/soft-ui-dashboard.js' %}"></script>
